{% extends 'base.html' %}

{% block title %} About Page {% endblock %}


{% block content %}
    
<div class="col">
    <div class="h-100 p-5 bg-light border rounded-3 text-center">
       <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus doloremque minima excepturi vitae, voluptatibus perferendis. Nulla temporibus fugit amet, officia delectus tenetur, corrupti culpa animi eius soluta exercitationem provident quidem?
       Culpa praesentium facilis cumque modi tempore eos odit? Repudiandae, earum? Facilis ea deserunt, quae et, reprehenderit rem fuga repellat non architecto at vitae accusamus sequi deleniti eveniet corrupti esse id?
       Quam facilis corporis sapiente sit nesciunt dolore reiciendis aliquam. Facere nihil incidunt nulla odio tempore! Sed optio dolor magnam qui eum necessitatibus reiciendis reprehenderit non quisquam, corporis perspiciatis, aspernatur aliquid.
       Alias error, ipsam hic iste animi illum voluptate, expedita consequatur odit velit et atque maxime incidunt cumque a itaque soluta maiores qui non. Placeat illo ducimus dicta eos amet praesentium.
       Libero, voluptatibus. Possimus incidunt iure maxime odio nisi dolorem. Officia corrupti, id, neque aspernatur labore architecto perferendis possimus laboriosam quibusdam ducimus repudiandae fugit repellat itaque at rem eaque, mollitia veritatis!
       Enim culpa quam praesentium, fugit aliquid earum excepturi! Quia perferendis, optio magnam sapiente vero iure id inventore quisquam consequuntur expedita fuga aut? Maiores laudantium dignissimos ea mollitia dolorem molestiae aliquam.
       Tenetur enim iure perspiciatis maxime magnam? Enim repellendus aut optio! Quidem blanditiis incidunt architecto provident aliquid, fuga accusantium non sunt optio quas itaque, consequuntur quisquam? Nisi voluptas similique cupiditate odio.
       Ut, repellat. Consectetur impedit non, libero soluta praesentium vero architecto illo eum nihil, dolore ut illum cupiditate laudantium voluptatum hic quasi quae aut, in reiciendis. Cum corrupti veritatis quam suscipit.</h3>
    </div>
</div>
{% endblock %}