<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="col">
            <div class="pt-3 pb-3 bg-light border rounded-3 text-center d-flex justify-content-between">
              
              <ul class="nav">
                <li class="nav-link">
                  <a class="text-decoration-none" href="{% url 'index' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-link">
                  <a class="text-decoration-none" href="#">About</a>
                </li>
                <li class="nav-link">
                  <a class="text-decoration-none" href="{% url 'logout_view' %}">Logout</a>
                </li>
                
                {% else %}
                <li class="nav-link">
                  <a class="text-decoration-none" href="{% url 'login_view' %}">Login</a>
                </li>
                <li class="nav-link">
                    <a class="text-decoration-none" href="{% url 'register' %}">Register</a>
                </li>
                <li class="nav-link">
                  <a class="text-decoration-none" href="addprod">Add Product</a>
                </li>






                {% endif %}
              </ul>
            </div>
          </div>
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>