{% extends 'base.html' %}

{% block title %} Home Page {% endblock %}


{% block content %}
    
    <div class="col">
        <div class="h-100 p-5 bg-light border rounded-3 text-center">
            <h1>Welcome</h1>
        </div>
    </div>
    
    <div class="row">
        {% for product in products%}
            <div class="col-3">
                <div class="card">
                    <img src="media/{{product.image}}" class="card-img-top" height="200px">
                    <div class="card-body">
                        <h3>{{product.title}}</h3>
                        <h5>Written By: {{product.author.first_name}} {{product.author.last_name}} </h5>
                        <p>Published:{{product.timestamp}}</p>
                        <h3>Price: {{product.price}}</h3>
                        <p>{{product.description}}</p>
                    </div>
                    {% if not request.user.is_staff %}
                        <a href="{% url 'buy_product' product.id %}" class="btn btn-outline-warning rounded-3 w-100">Buy</a>
                    {% endif %}
                    
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}